* {
    margin: 0;
    padding: 0;
}

.secciones {
    margin-top: 3em;
}

/*-------*/
html, body {
    height: 100%;
    margin: 0; 
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1; 
}
/*-------*/
header {
    background-color: rgb(42, 42, 42);
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    padding-left: 1em;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2em;
    padding-right: 1em;
}
nav ul a {
    color: #ffff;
    text-decoration: none;
    padding: 0.2em;
    border: solid 1px red;
    padding: 0.3em;
    
}

main {
    max-width: 1280px;
    margin: auto;
    padding: auto;
}

#sobremi{
    max-width: 1280px;
    color: #ffff;
    background-color: rgb(42, 42, 42);
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#sobremi > img {
    width: 350px;
}
#sobremi > p{
    width: 860px;
}

#proyectos {
    max-width: 1280px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3em 0;
}
.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.cards {
    
    width: 350px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cards > img {
    width: 250px;
    margin: auto;
    padding: auto;
}
.cards > h3 {
    padding: 1em;
}
.button {
    background-color: red;
    color: #ffff;
    padding: 0.5em;
    margin-top: 2em;
    text-decoration: none;
}
#contacto {
    background-color: rgb(42, 42, 42);
    padding-top: 2em;
    color: #ffff;
    max-width: 1280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
form {
    color: #ffff;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
label {
    padding-top: 1em ;
}
input, textarea{
    width: 560px;
    padding: 1em;
}
button{
    width: 256px;
    padding: 1em;
    margin-top: 1em;
}

footer {
    background-color: rgb(42, 42, 42);
    color: #ffff;
    margin-top: 2em;
    padding: 2em;
    text-align: center;
}