* {
    margin: 0;
    padding: 0;
}

.secciones {
    margin-top: 3em;
}

/*-------*/
html, body {
    height: 100%;
    margin: 0; 
    display: flex;
    flex-direction: column; 
}

main {
    flex: 1; 
}
/*-------*/
header {
    background-color: rgb(42, 42, 42);
    color: #ffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    padding-left: 1em;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2em;
    padding-right: 1em;
}
nav ul a {
    color: #ffff;
    text-decoration: none;
    padding: 0.2em;
    border: solid 1px red;
    padding: 0.3em;
    
}

main {
    width: 1280px;
    margin: auto;
    padding: auto;
}


footer {
    background-color: rgb(42, 42, 42);
    color: #ffff;
    margin-top: 2em;
    padding: 2em;
    text-align: center;
}