* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(34,195,144);
    background: linear-gradient(30deg, rgba(34,195,144,1) 0%, rgba(253,180,45,1) 100%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wheater-content {
    background: rgb(20, 226, 160);
    background: linear-gradient(30deg, rgb(20, 234, 166) 0%, rgb(250, 173, 29) 100%);
    border-radius: 10%;
    padding: 3em;
    font-size: 1.3em;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.get-weather {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
}
input {
    font-size: 0.9em;
}
.resultado, div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alerta-msg{
    background-color: red;
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: 0.8em;
    border-radius: 2%;
}
